* {
    box-sizing: border-box;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container input {
    margin-left: 5px;
}